@font-face {
    font-family: google_sans;
    src: url(https://fonts.gstatic.com/s/googlesans/v14/4UaGrENHsxJlGDuGo1OIlL3Owp4.woff2);
}

html {
    font-family: arial, sans-serif;
    width: 100%;
    height: 100%;
}

body.index  {
    height: 100%;
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.index a {
    text-decoration-line: none;
}

.index nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 17px;
}

.index .nav_item {
    margin-top: 12px;
    margin-left: 15px;
}

.index .nav_link {
    margin-top: 16px;
    font-weight: 400;
    line-height: 24px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.87);
}

.index .nav_app {
    background-color: #fff;
    border: 0px;
}   

.index .nav_connexion {
    height: 36px;
    width: 117px;
    background-color: #1a73e8;
    font-size: 14px;
    color: #fff;
    border: 0px;
    border-radius: 5px;
}

.index .logo_plus_form_container {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.index .google_logo_container {

    align-self: center;
    width: 272px;
    height: 92px;
    position: relative;
    bottom: 83px;
}

.index .google_logo {
    width: 100%;
    height: 100%;
}

.index .form_container {
    width: 584px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.index .input_box {
    height: 45px;
    width: 584px;
    padding: 0px;
    border-width: 1px;
    border-radius: 25px;
    border-color: #dfe1e5;
    background-color: #fff;
    border-style: solid;
    position: relative;
    bottom: 56px;    
}

.index input {
    height: 44px;
    width: 518px;
    padding: 0px;
    border: none;
    background-color: #fff;
    position: absolute;
    top: 50%;
    right: 16px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.index .input_box svg {
    position: relative;
    top: 13px;
    left: 14px;
}

.index .form_buttons {
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translateX(-50%) translateY(-68%);
    transform: translateX(-50%) translateY(-68%);
}

.index .form_buttons button {
    background-color: #f8f9fa;
    margin: 11px 4px 11px 4px;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    padding: 0px 16px 0px 16px;
    color: #3c4043;
    font-family: liberation sans;
    font-size: 14px;
    line-height: 27px;
}

.index .button_recherche_google {
    width: 150.717px;
    height: 36px;
}

.index .button_chance {
    width: 137.817px;
    height: 36px;
}

.index .lang_container {

    align-self: center;
    font-size: 13px;
}

.index footer {
    background-color: #f2f2f2;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.54);
    width: 100%;
}

.index .upper_footer {
    position: relative;
    height: 47px;
    margin: 0px;
}

.index .upper_footer p {
    position: absolute;
    margin: 0px;
    padding-left: 30px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.index .bottom_footer {
    height: 47px;
    display: flex;
    justify-content: space-between;
    border-top-style: solid;
    border-width: 1px;
    border-color: #dfe1e5;
    padding-left: 35px;
    padding-right: 35px;
}

.index .links_footer_container_1 {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
    grid-column-gap: 30px;
}

.index .link_footer_green a {
    display: inline-block;
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
}

.index .leaf {
    width: 12.25px;
    height: 14px;
}

.index .links_footer_container_2 {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
    grid-column-gap: 30px;
}

.index .bottom_footer a:not(.link_footer_green a) {
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;    
    position: relative;
    height: max-content;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.index .link_footer_green {
    position: absolute;
    left: 50%;
    bottom: 12.5px;
    -ms-transform: translateX(-50%) translateY(0%);
    transform: translateX(-50%) translateY(0%);
}






.search_page_body {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.search_page_body .google_logo_container {
    width: 92px;
    height: 30px;
    margin-left: 24px;
    margin-top: 36px;
}

.search_page_body .google_logo {
    width: 92px;
    height: 30px;
}

.search_page_body .search_bar {
    position: absolute;
    left: 160px;
    top: 25px;
    width: fit-content;
}

.search_page_body .input_box {
    height: 45px;
    width: 690px;
    padding: 0px;
    border-width: 1px;
    border-radius: 25px;
    border-color: transparent;
    background-color: #fff;
    box-shadow: 0 2px 5px 1px rgba(64,60,67,.16);
    border-style: solid;
}

.search_page_body input {
    height: 44px;
    width: 450px;
    padding: 0px;
    border: none;
    background-color: #fff;
    position: relative;
    left: 20px;
}

.search_page_body input::placeholder {
    font-family: liberation sans;
    color: #282828;
    opacity: 1;
    font-size: 16px;
}

.search_page_body .cross {
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 50%;
    right: 66px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.search_page_body .mag_glass {
    margin: 0px 0px 0px 0px;
    padding: 2px 0px 2px 12px;
    position: absolute;
    top: 50%;
    right: 17px;
    border-left: 1px solid #dfe1e5;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.search_page_body .nav_google {
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    top: 32px;
    right: 40px;
}   

.search_page_body .nav_parametres {
    background-color: #fff;
    width: 24px;
    height: 24px;
    fill: #3c4043;
    align-self: center;
    border: 0px;
    margin: 0px 26px 0px 0px;
    padding: 0px;
}   

.search_page_body .nav_app {
    background-color: #fff;
    border: 0px;
    margin: 3px 20px 0px 0px;
    padding: 0px;
}   

.search_page_body .nav_connexion {
    height: 36px;
    width: 102px;
    background-color: #1a73e8;
    font-size: 14px;
    font-family: google_sans;
    letter-spacing: 0.25px;
    color: #fff;
    border: 0px;
    border-radius: 5px;
}

.search_page_body .nav_results svg {
    height: 16px;
    width: 16px;
}

.search_page_body .nav_results {
    font-family: google_sans;
    font-size: 14px;
    position: absolute;
    left: 180px;
    top: 102px;
    display: flex;
}

.search_page_body .nav_results a {
    text-decoration: none;
    color: #5f6368;
    margin-right: 24px;
}

.search_page_body .nav_results a p {
    margin: 0px;
    padding: 0px 0px 0px 0px;
}

.search_page_body a.nav_results_tous {
    color: #1a73e8;
    width: 50px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 11px;
    border-bottom: 3px solid #1a73e8;
}

.search_page_body .nav_tous_svg {
    align-self: center;
}

.search_page_body a.nav_results_actualites {
    width: 83.5px;
    display: flex;
    justify-content: space-between;
}

.search_page_body .nav_results_actualites svg {
    padding-top: 1px;
}

.search_page_body a.nav_results_maps {
    width: 55.2px;
    display: flex;
    justify-content: space-between;
}

.search_page_body .nav_results_maps svg {
    padding-top: 1px;
}

.search_page_body a.nav_results_videos {
    width: 64px;
    display: flex;
    justify-content: space-between;
}

.search_page_body .nav_results_videos svg {
    padding-top: 1px;
}

.search_page_body a.nav_results_shopping {
    width: 81px;
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.search_page_body .nav_results_shopping svg {
    padding-top: 1px;
}

.search_page_body a.nav_results_plus {
    width: 39.2px;
    display: flex;
    justify-content: space-between;
    margin-right: 32.5px;
}

.search_page_body .nav_results_plus svg {
    padding-top: 1px;
}

.search_page_body a.nav_results_plus svg {
    flex-shrink: 0;
}

.search_page_body a.nav_results_outils {
    width: 39.2px;
    display: flex;
    justify-content: space-between;
    margin-left: 92px;
}

.search_page_body header {
    height: 132px;
    border-bottom: 1px solid #ebebeb;
}

.search_page_body .stats_results {
    font-family: google_sans;
    font-size: 14px;
    width: max-content;
    color: #70757a;
    line-height: 15px;
    position: relative;
    left: 180px;
}

.search_page_body span.bold {
    font-weight: bold;
}

.search_page_body .search_results {
    width: 600px;
    max-height: auto;
    line-height: 18px;
    position: relative;
    left: 180px;
}

.search_page_body .result_wix {
    position: relative;
    top: 8px;
}

.search_page_body .result a {
    text-decoration: none;
    font-family: liberation sans;
    font-size: 14px;
    color: black;
}

.search_page_body .result {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.search_page_body a.result_annonce_element_1 {
    font-weight: bold;
    color: #202124;
}

.search_page_body a.result_annonce_element_2 {
    font-weight: bold;
    color: #202124;
    margin-left: 5px;
}

.search_page_body a.result_wix_annonce_element_3 {
    color: #202124;
    margin-left: 5px;
}

.search_page_body .arrow_menu {
    height: 5px;
    width: auto;
    margin-left: 6px;
    align-self: center;
}

.search_page_body a.result_blue_link:link {
    text-decoration: none;
    color: #1a0dab;
    font-size: 20px;
}

.search_page_body a.result_blue_link:visited {
    color: #660099;
}

.search_page_body p.result_description {
    font-family: liberation sans;
    font-size: 14px;
    line-height: 22.1167px;
    color: #4d5156;
    margin-top: 5px;
    margin-bottom: 0px;
}

.search_page_body .entry {
    margin-top: 39px;
}

.search_page_body .entry_hosting {
    margin-top: 32px;
}

.search_page_body .annonce_sublink_box {
    margin-top: 2px;
    display: flex;
    flex-direction: row;
}

.search_page_body a.annonce_sublink:link {
    font-size: 14px;
    color: #1a0dab;
    text-decoration: none;
}

.search_page_body a.annonce_sublink:visited {
    font-size: 14px;
    color: #660099;
    text-decoration: none;
}

.search_page_body .sublink_separator {
    margin-left: 3.8px;
    margin-right: 3.8px;
    font-size: 14px;
    color: #202124;
    align-self: center;
}

.search_page_body .entry_commercial {
    margin-top: 32px;
}

.search_page_body .normal_entry {
    margin-top: 36px;
}

.search_page_body a.result_normal_element_1 {
    color: #202124;
}

.search_page_body a.result_normal_element_2 {
    color: #5f6368;
    margin-left: 4px;
}

.search_page_body a.traduire_page {
    color: #1a0dab;
    margin-left: 6px;
}

.search_page_body .arrow_menu_normal {
    height: 5px;
    width: auto;
    margin-left: 7px;
    align-self: center;
}

.search_page_body time {
    color: #70757a;
}

.search_page_body .recherches_associees {
    height: 266px;
    width: 600px;
    padding: 0px 0px 0px 0px;
    margin-top: 60px;
    margin-left: 180px;
    margin-bottom: 50px;
}   

.search_page_body .titre_rech_assoc {
    font-family: liberation sans;
    font-size: 22px;
    margin: 0px 0px 22px 0px;
}

.search_page_body .lien_assoc_grid a {
    width: 320px;
    height: 50px;
    background-color: #f1f3f4;
    border-radius: 100px;
    text-decoration: none;
    color: #202124;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search_page_body .lien_assoc_grid {
    margin: 0px 0px 0px 0px;
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto;
    row-gap: 10px;
    column-gap: 15px;
}

.search_page_body .mag_glass_assoc {
    margin: 0px 25px 0px 30px;
}

.search_page_body .pages_count {
    margin-left: 180px;
    width: 652px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search_page_body .google_logo_pages {
    width: 270px;
    height: 35px;
}

.search_page_body .numbered_pages {
    width: 270px;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    column-gap: 11.7px;
    padding-left: 40px;
}

.search_page_body .numbered_pages a{
    color: #4285f4;
    text-decoration: none;
}

.search_page_body a.current_page {
    color: #212121;
}

.search_page_body a.trois {
    position: relative;
    left: 1px;
}

.search_page_body a.quatre {
    position: relative;
    left: 1px;
}

.search_page_body a.cinq {
    position: relative;
    left: 2px;
}

.search_page_body a.six {
    position: relative;
    left: 2px;
}

.search_page_body a.sept {
    position: relative;
    left: 2px;
}

.search_page_body a.huit {
    position: relative;
    left: 3px;
}

.search_page_body a.neuf {
    position: relative;
    left: 3px;
}

.search_page_body a.next_page {
    position: relative;
    left: 25px;
}

.search_page_body footer {
    width: fit-content;
    background-color: #f2f2f2;
    margin-top: 45px;
}

.search_page_body .upper_footer {
    height: 51px;
    padding-left: 180px;
    width: fit-content;
    display: flex;
    flex-direction: row;
}

.search_page_body .bottom_footer {
    height: 53px;
    padding-left: 180px;
    border-top-style: solid;
    border-width: 1px;
    border-color: #dadce0;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search_page_body div.upper_footer a {
    font-size: 14px;
    color: rgba(0,0,0,.54);
    text-decoration: none;
    margin: auto 0px 11px 3px;
}

.search_page_body span.nowhere {
    height: 10px;
    width: 10px;
    margin: auto 0px 10px 0px;
    background-color: #70757a;
    border-radius: 100%;
}

.search_page_body div.upper_footer p {
    font-size: 14px;
    color: rgba(0,0,0,.54);
    margin: 24px 0px auto 0px;
}

.search_page_body p.pays_loc {
    font-size: 15px !important;
    padding: 3px 13px 7px 0px;
    margin: 20px 0px 7px 0px !important;
    border-right: solid 1px #dadce0;
}

.search_page_body div.bottom_footer a {
    font-size: 14px;
    color: rgba(0,0,0,.54);
    text-decoration: none;
    margin-right: 27px;
    position: relative;
    bottom: 6px;
}

.search_page_body span.nowhere {
    margin: auto 3px 14px 16px;
}

.search_page_body a.but_where_though {
    font-weight: bold;
    color: #3c4043 !important;
    margin-right: 3px !important;
}