html {
    font-family: arial, sans-serif;
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    text-decoration-line: none;
}

header {

}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 17px;
}

.nav_item {
    margin-top: 12px;
    margin-left: 15px;

}

.nav_link {
    margin-top: 16px;
    font-weight: 400;
    line-height: 24px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.87);
}

.nav_app {
    background-color: #fff;
    border: 0px;
}   

.nav_connexion {
    height: 36px;
    width: 117px;
    background-color: #1a73e8;
    font-size: 14px;
    color: #fff;
    border: 0px;
    border-radius: 5px;
}

.logo_plus_form_container {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.google_logo_container {

    align-self: center;
    width: 272px;
    height: 92px;
}

.google_logo {
    width: 100%;
    height: 100%;
}

.form_container {
    width: 584px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

input {
    height: 45px;
    padding: 0px;
    border-width: 1px;
    border-radius: 25px;
    border-color: #dfe1e5;
    background-color: #fff;
    border-style: solid;
    
}

.form_buttons {
    margin: auto;
}

.form_buttons button {
    background-color: #f8f9fa;
    width: 150.717px;
    height: 36px;
    margin: 11px 4px 11px 4px;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    padding: 0px 16px 0px 16px;
    color: #3c4043;
    font-family: liberation sans;
    font-size: 14px;
    line-height: 27px;
}

.lang_container {

    align-self: center;
    font-size: 13px;
}

footer {
    background-color: #f2f2f2;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.54);
    width: 100%;
}

.upper_footer {
    position: relative;
    height: 47px;
    margin: 0px;
}

.upper_footer p {
    position: absolute;
    margin: 0px;
    padding-left: 30px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.bottom_footer {
    height: 47px;
    display: flex;
    justify-content: space-between;
    border-top-style: solid;
    border-width: 1px;
    border-color: #dfe1e5;
    padding-left: 35px;
    padding-right: 35px;
}

.links_footer_container_1 {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
    grid-column-gap: 30px;
}

.link_footer_green a {
    display: inline-block;
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
}

.leaf {
    width: 12.25px;
    height: 14px;
}

.links_footer_container_2 {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
    grid-column-gap: 30px
    ;
}

.bottom_footer a:not(.link_footer_green a) {
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;    
    position: relative;
    height: max-content;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.link_footer_green {
    position: absolute;
    left: 50%;
    bottom: 12.5px;
    -ms-transform: translateX(-50%) translateY(0%);
    transform: translateX(-50%) translateY(0%);
}