html {
    font-family: arial, sans-serif;
    width: 100%;
    height: 100%;
}

body.index  {
    height: 100%;
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.index a {
    text-decoration-line: none;
}

.index nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 17px;
}

.index .nav_item {
    margin-top: 12px;
    margin-left: 15px;
}

.index .nav_link {
    margin-top: 16px;
    font-weight: 400;
    line-height: 24px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.87);
}

.index .nav_app {
    background-color: #fff;
    border: 0px;
}   

.index .nav_connexion {
    height: 36px;
    width: 117px;
    background-color: #1a73e8;
    font-size: 14px;
    color: #fff;
    border: 0px;
    border-radius: 5px;
}

.index .logo_plus_form_container {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.index .google_logo_container {

    align-self: center;
    width: 272px;
    height: 92px;
    position: relative;
    bottom: 83px;
}

.index .google_logo {
    width: 100%;
    height: 100%;
}

.index .form_container {
    width: 584px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.index .input_box {
    height: 45px;
    width: 584px;
    padding: 0px;
    border-width: 1px;
    border-radius: 25px;
    border-color: #dfe1e5;
    background-color: #fff;
    border-style: solid;
    position: relative;
    bottom: 56px;    
}

.index input {
    height: 44px;
    width: 518px;
    padding: 0px;
    border: none;
    background-color: #fff;
    position: absolute;
    top: 50%;
    right: 16px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.index .input_box svg {
    position: relative;
    top: 13px;
    left: 14px;
}

.index .form_buttons {
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translateX(-50%) translateY(-68%);
    transform: translateX(-50%) translateY(-68%);
}

.index .form_buttons button {
    background-color: #f8f9fa;
    margin: 11px 4px 11px 4px;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    padding: 0px 16px 0px 16px;
    color: #3c4043;
    font-family: liberation sans;
    font-size: 14px;
    line-height: 27px;
}

.index .button_recherche_google {
    width: 150.717px;
    height: 36px;
}

.index .button_chance {
    width: 137.817px;
    height: 36px;
}

.index .lang_container {

    align-self: center;
    font-size: 13px;
}

.index footer {
    background-color: #f2f2f2;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.54);
    width: 100%;
}

.index .upper_footer {
    position: relative;
    height: 47px;
    margin: 0px;
}

.index .upper_footer p {
    position: absolute;
    margin: 0px;
    padding-left: 30px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.index .bottom_footer {
    height: 47px;
    display: flex;
    justify-content: space-between;
    border-top-style: solid;
    border-width: 1px;
    border-color: #dfe1e5;
    padding-left: 35px;
    padding-right: 35px;
}

.index .links_footer_container_1 {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
    grid-column-gap: 30px;
}

.index .link_footer_green a {
    display: inline-block;
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
}

.index .leaf {
    width: 12.25px;
    height: 14px;
}

.index .links_footer_container_2 {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
    grid-column-gap: 30px;
}

.index .bottom_footer a:not(.link_footer_green a) {
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;    
    position: relative;
    height: max-content;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.index .link_footer_green {
    position: absolute;
    left: 50%;
    bottom: 12.5px;
    -ms-transform: translateX(-50%) translateY(0%);
    transform: translateX(-50%) translateY(0%);
}






.search_page_body {
    margin: auto;
}

.search_page_body .google_logo_container {
    width: 92px;
    height: 30px;
    margin-left: 24px;
    margin-top: 36px;
}

.search_page_body .google_logo {
    width: 92px;
    height: 30px;
}

.search_page_body .search_bar {
    position: absolute;
    left: 160px;
    top: 25px;
    width: fit-content;
}

.search_page_body .input_box {
    height: 45px;
    width: 690px;
    padding: 0px;
    border-width: 1px;
    border-radius: 25px;
    border-color: transparent;
    background-color: #fff;
    box-shadow: 0 2px 5px 1px rgba(64,60,67,.16);
    border-style: solid;
}

.search_page_body input {
    height: 44px;
    width: 450px;
    padding: 0px;
    border: none;
    background-color: #fff;
    position: relative;
    left: 20px;
}

.search_page_body input::placeholder {
    font-family: liberation sans;
    color: #282828;
    opacity: 1;
    font-size: 16px;
}

.search_page_body .cross {
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 50%;
    right: 66px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.search_page_body .mag_glass {
    margin: 0px 0px 0px 0px;
    padding: 2px 0px 2px 12px;
    position: absolute;
    top: 50%;
    right: 17px;
    border-left: 1px solid #dfe1e5;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.search_page_body .nav_google {
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    top: 32px;
    right: 40px;
}   

.search_page_body .nav_app {
    background-color: #fff;
    border: 0px;
    margin: 3px 20px 0px 0px;
    padding: 0px;
}   

.search_page_body .nav_connexion {
    height: 36px;
    width: 117px;
    background-color: #1a73e8;
    font-size: 14px;
    color: #fff;
    border: 0px;
    border-radius: 5px;
}